h1, h2, h3, h4, h5, h6, p, li, ul, .published-section-header {
  font-family: 'Palatino';
  }


code {
  font-family: 'Monaco' !important;
  color: #333333 !important;
  background-color: #FFFFFF !important;
}

/* INTERNAL LINKS */
.cm-s-obsidian span.cm-hmd-internal-link,
.internal-link:hover,
.internal-link {
    color: #f58a2d !important;
    text-decoration: none !important;
    font-family: 'Monaco' !important;
    font-size: 15px;
}

/* EXTERNAL LINKS */
span.cm-string.cm-url,
.external-link:hover,
.external-link {
    color: #057cfc !important;
    text-decoration: none !important;
    font-family: 'Monaco' !important;
    font-size: 15px;
}


/* file list on left side*/
.tree-item-inner {
  color: #b8b8b8 !important;
  font-family: monaco !important;
}

.page-header {
  font-family: Palatino !important;
  }

.site-footer {
  visibility: hidden !important;
}

::-webkit-scrollbar {
  display: none !important;
  scrollbar-width: 0px
}
* {
scrollbar-width: 0px !important;
}

body {
  scrollbar-width: 0px !important;
}

.published-container .backlinks {
  background-color: white !important;
}


.site-body-left-column {
  border-right: none !important;
  background-color: #313131 !important;
}

.markdown-preview-view {
  background-color: white !important;
}

.markdown-preview-sizer {
  background-color: white !important;
  padding: 20px !important;
}

.site-body-right-column {
  background: white !important;
}


.graph-view-container {
  border-radius: 2px !important;
}

.graph-view-container {
  padding: 0px !important;
}


.site-body-left-column-site-name:hover {
  font-weight: 500 !important;
  text-decoration: none !important;
}

.site-body-left-column-site-name {
  font-size: 28px !important;
  font-weight: 400 !important;
  font-family: 'Baskerville';
  color: #eaeaea !important;
}


input[type="text"]:active, input[type="search"]:active, input[type="email"]:active, input[type="password"]:active, input[type="number"]:active, input[type="text"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
  border-color: none !important;
}

input[type="text"]:hover, input[type="search"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="number"]:hover {
  background-color: whitesmoke !important;
}

.search-bar {
  border: none !important;
  border-radius: 2px !important;
  background: whitesmoke !important;
}


.tree-item-children {
  margin-left: 30px !important;
}

.markdown-preview-view blockquote {
  border: 0px !important;
  border-left: 1px solid grey !important;
  padding: 10px 10px !important;
}

.backlink-items-container {
  padding-left: 22px !important;
}


.tree-item-self.is-clickable:hover {
  background-color: #525252 !important;
}

.tree-item-self {
  padding: 2px 6px 5px 20px !important;
}

